body {
    background-color: #000;
    color: #9f00ff;
    font-family: 'Space Grotesk', sans-serif; /* Use Space Grotesk font */
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: #2a0a29;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ff69b4;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #fff; 
}

main {
    padding: 20px;
}

footer {
    background-color: #2a0a29;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.glow {
    text-shadow: 0 0 5px rgba(255, 105, 180, 0.5), 0 0 10px rgba(255, 105, 180, 0.5), 0 0 15px rgba(255, 105, 180, 0.5);
}

h1 {
    font-size: 2em;
    transition: text-shadow 0.5s ease-in-out;
}

h1:hover {
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.8), 0 0 20px rgba(255, 105, 180, 0.8), 0 0 30px rgba(255, 105, 180, 0.8);
}
